/**************************************
STATIC LAYOUT CSS
**************************************/
* {
box-sizing: border-box;
}
/** html body will be 960 pixels
margin 0 auto sets top and bottom to 0 and right and left auto
which centers all elements in the wrapper  **/
.wrapper {
width: 1360px;
margin: auto;
}
a {
color: #ffffff;
}
header, footer {
width: 1360px;
border: 1px solid rgba(255,255,255,0.8);
/* margin-bottom: 10px; */
border-radius: 3px;
padding: 5px 0;
position: fixed;
}
footer {
bottom: 0;
position: fixed;
}
nav {
font-size: 22px;
width: 1360px;
margin-right: 10px;
top: 130px;
position: fixed;
border: 1px solid rgba(255,255,255,0.8);
border-radius: 3px;
padding: 10px 0;
}
section {
width: 1360px;
padding: 5px 0;
border: 1px solid rgba(255,255,255,0.8);
border-radius: 3px;
font-size: 20px;
}
input, select {
padding: 10px;
font-size: 20px;
}
.uptop {
margin-top: 320px;
}
.downbottom {
margin-bottom: 100px;
}
.search {
width: 65%;
}
.submit {
width: 90px;
background-color: #1c87c9;
color: #ffffff;
}
.Business_Name,
.Username,
.email,
.password,
.checkbox ,
.Latitude,
.Longitude {
width: 25%;
float: left;
}
input.checkbox {
height: 25px;
}
.Description {
width: 75%;
float: left;
}
.object_image {
width: 75%;
float: left;
}
.submit2 {
float: left;
width: 90px;
background-color: #1c87c9;
color: #ffffff;
}
.form_labels {
float: left;
}
body {
background: #2980b9;
color: #FFF;
font-family: Helvetica;
text-align: center;
margin: 0;
}
table {
width: 750px;
}
table, th, td {
border: 1px solid rgba(255,255,255,0.8);
border-style: dotted;
border-collapse: collapse;
margin: auto;
padding: 15px;
margin-bottom: 100px;
border-radius: 3px;
font-size: 20px;
}
img {
border: 1px solid #ddd;
border-radius: 4px;
padding: 5px;
width: 300px;
float: left;
}
@media screen and (max-width: 992px) {
.wrapper, header, footer, section, nav {
width: 960px;
}
}